.documentation {
    h1 {
        @apply text-4xl py-2 font-bold;
    }
    h2 {
        @apply text-3xl py-2 font-bold;
    }
    h3 {
        @apply text-2xl py-6 font-bold;
    }
    h4 {
        @apply text-xl py-4 font-bold;
    }
    h5 {
        @apply text-xl py-2;
    }
    h6 {
        @apply text-xl py-2;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        > a {
            @apply mr-2;
        }
        @apply text-dark;
    }
    a {
        @apply text-pink-550 font-bold;
    }
    p {
        @apply text-gray-700 font-hairline;
    }
    code:not([class*="language-"]) {
        @apply bg-dark text-gray-400 rounded px-2;
    }
    blockquote {
        @apply mx-4 my-8 border p-8 bg-gray-300 rounded shadow-2xl;
    }

    pre {
        @apply my-12 rounded shadow-2xl max-w-full;
        > code {
            width: 100%;
            overflow: auto;
        }
    }

    @apply max-w-4xl;
}
