@use 'documentation';
@use 'changelog';

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
// @font-face {
//     font-family: "againts";
//     font-display: swap;
//     src: url("/fonts/againts.otf");
// }
@font-face {
    font-family: 'againts';
    src: url('/fonts/subset-Againts.woff2') format('woff2'),
        url('/fonts/subset-Againts.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    @apply bg-purple-800 min-h-screen font-sans;
}
